.Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: burlywood;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

@media (min-width: 768px) {
    .Header {
        flex-direction: row;
    }
}

#logo {
    width: 120px;
    height: auto;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
}

.panier {
    text-align: center;
    margin-top: 10px;
}

.panier button {
    margin: 5px;
}

@media (max-width: 768px) {
    .Header {
        flex-direction: column;
        text-align: center;
    }

    .panier {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.menu {
    display: flex;
    align-items: center;
}

.user-section {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
        position: absolute;
        top: 15px;
        right: 20px;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: white;
        width: 100%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .menu.open {
        display: flex;
    }

    .panier {
        text-align: center;
    }
}
