#logo {
    height: 100px;
    width: 100px;
}
.Header{
    background: burlywood;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Header div {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Header div span {
    margin: 10px;
}

.panier button {
    margin-top: 5px;
    margin-bottom: 0;
}

.dropdown:hover > #cart-dropdown{
    display: block;
}