#logo {
    height: 100px;
    width: 100px;
}
.Header{
    background: burlywood;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Header div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.Header div span {
    margin: 10px;
}

.dropdown:hover > #cart-dropdown{
    display: block;
}