.home-banner {
    color: #00850e;
    background-image: url("/public/img/bg_accueil.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}