.home-banner {
    color: #00850e;
    background-image: url("../../public/img/DALL·E 2025-02-05 15.07.42 - A cozy scene featuring a steaming cup of coffee and a steaming cup of tea placed side by side on a wooden table. The background is softly blurred, wit.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}